/*paleta*/

$verdeOscuro: #79A4A4;
    
$grisOscuro: #40454f;

$grisMedio: #A6A6A6;

$grisClaro: #d1d4dc;
    
$blanco: #f3f4f6;
    
$verdeAqua: #C2D6D6;
 
$coral:coral;


/*colores en titulos*/

h1 {
    color:$grisOscuro;
    text-shadow: $verdeAqua 3px 3px;
}

h2 {
    color:$verdeOscuro;
    text-shadow: 1px 1px $grisOscuro;
}

h3 {
    color:$grisOscuro;
}

h4 {
    color:$verdeOscuro;
}

/*colores en a*/

a {
    color:$blanco;  
}

a:hover {
    color:$verdeOscuro;
}

a:active {
    color: $coral;  
}

/*colores en footer*/

.footer {
    color:$verdeAqua; 
    background-color:$grisOscuro;
}

/*colores en tablas*/

.table {
    background-color:$verdeOscuro;
}

th {
    background-color: $blanco;
}

td {
    color:$blanco;
}

/*otros*/

em {
    color:$coral;
}

.maps {
    color:$verdeAqua; 
}
