
/*OPERACIONES PARA PAGINAS DE VAJILLA, DECO Y PRODUCTOS*/

/*VARIABLES*/

$verdeOscuro: #79A4A4;
    
$grisOscuro: #40454f;

$grisMedio: #A6A6A6;

$grisClaro: #d1d4dc;
    
$blanco: #f3f4f6;
    
$verdeAqua: #C2D6D6;
 
$coral:coral;

$magenta: magenta;

$verdePetroleo: teal;


/*OPERACIONES SIMPLES*/

/*CONDICIONALES PARA DESCUENTOS E INGRESOS DE PRODUCTOS*/

$liquidacion: true;
$porcentaje: 20;

.off {
    @if $liquidacion == false {
        display:none;
    } @else {
        display:flex;
    }
}

.off {
    @if $porcentaje == 20 {
        background-color:$coral;
    }
    @else if $porcentaje <= 20 {
        background-color:mediumturquoise;
    }
    @else if $porcentaje >= 20 {
        background-color:magenta;
    }
}

.off {
    flex-direction:inline-block;
    float:right;
    justify-content:center;
    width:80px;
    color:$blanco;
    font-weight: lighter;
    font-size:14px;
}

.off:hover {
            color:$blanco;
        }


$ingreso: true;

.nuevo { 
    @if $liquidacion == false {
        display:none;
    } @else {
        display:flex;
    }
}

.nuevo {
    flex-direction:inline-block;
    float:right;
    justify-content:center;
    width:80px;
    color:$blanco;
    background-color:teal;
    font-weight:lighter;
    font-size: 16px;
}


/*MIXINS PARA LAS CARDS*/

@mixin margenes1 {
                margin: 10px 5px 10px 5px;
            }

@mixin margenesCostados {
                        margin-left:40px;
                        margin-right: 40px;
                    }

@mixin fondoOscuro {
                    background-color: $verdeOscuro;
                    color:$blanco;
                    font-size: 16px;
                    letter-spacing: 2px;
                }

@mixin fondoClaro {
                    background-color: $blanco;
                    color:$grisOscuro;
                    font: size 25px;
                    text-shadow: $grisMedio;
                    height:45px;
                    text-align:center;
                }

@mixin fondoMedio {
                    background-color:$verdeAqua;
                    color: $grisOscuro;
                    letter-spacing: 10px;
                    font-style: italic;
                    text-transform:uppercase;
                    font-size: 22px;
                    padding:5px;
                }

.card-body{
            @include fondoOscuro;
        }

.card-body--producto {
                        background-color: $blanco;
}

.card-diseno{
            @extend .card-body;
            display:flex;
            flex-flow:row row nowrap;
            justify-content: center;
            min-height:20px;
            text-transform: uppercase;
            padding-top:5px;
            font-size:20px;
        }

.card {
        @include margenes1;
    }

.card-header {
                @include fondoClaro;
            }

.card-header--productos {
                        @include fondoMedio;
                        display:flex;
                        flex-direction: row nowrap;
                        justify-content: center;
                    }

.card-title {
            @include fondoOscuro;
            font-size: 20px;
            font-weight: bold;
            padding: 4px;
        }

.card-text {
            margin: 0px;
}

.btn {
        @extend .card;
    }

.disenos {
        display: flex;
        flex-flow:column wrap;
        justify-content:center;
        margin-left: 40px;
        margin-right:40px;
    }


/*EACH PRODUCTOS*/

@each $disenos in geometria, flora, totalcolor, franjas {
    .#{$disenos}-card-body {
        background-image:url('../media/#{$disenos}.jpg');
        background-size:cover;
        background-position: center;
        min-height:250px;
    }
}

/*FOR PRODUCTOS*/

@for $boton-size from 1 through 3 {
    .btn--#{$boton-size} {font-size:8px *$boton-size}
}

/*MAPS BOTONES*/

$botones: (
    info: $grisOscuro,
    especial:$coral,
    consulta:$grisMedio,
    comprar: $verdePetroleo,
);

$botonmargin: (
    pequeno: 10px,
    chico: 16px,
    medio: 20px,
    xl: 25px,
    xxl: 40px,
);

@each $boton, $color in $botones {
    .boton--#{$boton} {
        background-color: $color;
        color: $blanco;
    }
}

@each $boton, $margin in $botonmargin {
    .botonmargin--#{$boton} {
        margin: $margin;
    }
}



