
/*FUENTES , TAMAÑO, COLORES DE TIPOGRAFIA*/

/*variables*/

$letraMedia: 16px;

$letraXl: 18px;

$letraXxl: 24px;

$letraSpace: 5px; 

$oracionSpace: 20px;

$palabraSpace: 8px;

$spaceInputs: 15px;

$verdeOscuro: #79A4A4;
    
$grisOscuro: #40454f;

$grisMedio: #A6A6A6;

$grisClaro: #d1d4dc;
    
$blanco: #f3f4f6;
    
$verdeAqua: #C2D6D6;
 
$coral:coral;

$magenta: magenta;

$verdePetroleo: teal;


/*BODY*/

body {
    font-size: 14px; 
    font-style: normal; 
    font-family: 'Poppins', Tahoma, Arial, sans-serif;
    text-align: center;
}

@media only screen and (min-width:768px) {

    body {
        font-size: $letraMedia; 
    }
}

@media only screen and (min-width:1000px) {

    body {
        font-size: $letraXl;
    }

}

/*TITULOS*/

h1 {
    letter-spacing: 5px;
    font-size: $letraXxl;
    color:$grisOscuro;
    text-shadow: $verdeAqua 3px 3px;
}

@media only screen and (min-width:768px) {
    
    h1 {
        letter-spacing: 10px;
        font-size: 40px;
    }
}

@media only screen and (min-width:1000px) {
    
    h1 {
        letter-spacing: 10px;
        font-size: 70px;
    }
}


h2 {
    font-size:20px;
    color:$verdeOscuro;
    text-shadow: 1px 1px $grisOscuro;
}

@media only screen and (min-width:768px) {

    h2 {
        font-size: $letraXxl; 
    }
}

@media only screen and (min-width:1000px) {

    h2 {
        font-size: 30px; 
    }
}


h3 {
    font-size:$letraXl; 
    font-style:italic; 
    font-weight: lighter; 
    padding-top: 15px;
    padding-bottom: 5px;
    color: $grisOscuro;
}

@media only screen and (min-width:1000px) {

    h3 {
        font-size:$letraXxl; 
    }
}


h4 {
    font-size:$letraMedia; 
    text-transform: uppercase;
    color:$verdeOscuro;
}

@media only screen and (min-width:1000px) {

    h4 {
        font-size: $letraXl; 
        text-transform: uppercase;
        }
    }

/*a,em*/

em {
    font-weight: lighter;
    font-style: italic;
    color:$coral;
    text-transform: uppercase;
}

a {
    color:$blanco;  
}

a:hover {
        font-style:italic; 
        color:$verdeOscuro;
        text-decoration:none;
    }

a:active {
        color: $coral;  
    }

/*footer*/

.footer {
        font-size: 10px;
        color:$verdeAqua; 
        background-color:$grisOscuro;
    }

@media only screen and (min-width:1000px) {

    .footer {
            font-size: 12px;
        }
    }

/*tablas y formularios*/

.table {
        padding:30px; 
        word-spacing: 10px;
        background-color:$verdeOscuro;
    }

table ol {
        list-style-type: none;
    }

table ul {
        list-style-type: none;
}

th {
    letter-spacing: 5px;
    background-color: $blanco;
}

td {
    color:$blanco;
}

/*especiales*/

.jumbotron {
            margin:40px;
        }

.jumbotron__titulo {
                    font-size: 45px;
                }

.maps {
        color:$verdeAqua; 
    }

.botonAlert {
            font-size: $letraMedia;
            margin-left:50px;
            margin-right:50px;
        }

.botonesFormulario{
                    margin-top: 10px;
                }

@media only screen and (min-width:1000px) {

    .botonAlert {
                font-size: 20px;
            }
    }


#handMade {
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 15px;
            font-size: 35px;
            text-shadow: 4px 4px $verdeOscuro;
            border-bottom: $grisClaro solid 10px;
            margin: 10px;
}

@media only screen and (min-width:768px) {

    #handMade {  
                letter-spacing: 30px;
                font-size: 70px;
                margin-left: 30px;
                margin-right: 30px;
            }
    }

@media only screen and (min-width:1000px) {

    #handMade {  
                letter-spacing: 30px;
                font-size: 140px;
                margin-left: 30px;
                margin-right: 30px;
            }   
    }
    
.map__article {
                font-size: 20px;
                line-height: 40px;
            }    

.map__items ul li{
                    list-style-type:circle;
                }

.map a {
        color: $verdeOscuro;
    }

.map li {
        color: $coral;
    }